@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {

  text-align: center;

  position: relative;
  background-color: #ffcb05;
  height: 15vh;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;


  /* font */
  font-family: 'Rubik', sans-serif;
  font-size: 4em;
  font-weight: 700;

}

.user-list {
  background-color: white;
  text-align: center;
  padding: 1em;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1em 1em 1em 1em;

  /* Font*/
  font-size: 1.6em;

}

.pokemon-userlist--item {
  padding: 1em;
  /* background-color:gray;
  display: flex;
  align-items: center;
  justify-content: center;
   */
  margin: 20px;
  border: 10px solid #3c5aa6;
  border-radius: 10%;
  width: 300px;
  height: 300px;

  /* font */
  color: white;
  background-color: #c7a008;
}

.pokemon-userlist--item img {
  width: 200px;
  height: 200px;
}

.pokemon-userlist--item_title {

  margin: 0;
  padding: 0.1em;
  font-size: 1.9em;

  /* font */
  font-family: Roboto, monospace;
  text-transform: capitalize;
}

.pokemon-userlist--item_number {
  margin: 0;
  /* font */
  font-family: Roboto, monospace;
}


.pokemon-typelist {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-typelist--item {
  margin: 0px 3px 0px 3px;
  border: 1.5px solid black;
  padding: 0.2em;
  border-radius: 10%;

  /* font */
  text-transform: capitalize;
}

.nav-bottom {


  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1vh;
  padding-bottom: 16px;
  background-color: #2a75bb;
  border-top: 2px solid #f00;

}



@media(max-width: 400px) {

  .pokemon-userlist--item {
    padding: 0.2em;
    /* background-color:gray;
    display: flex;
    align-items: center;
    justify-content: center;
     */
    margin: 20px;
    border: 5px solid #3c5aa6;
    border-radius: 10%;
    width: 200px;
    height: 200px;

  }


  .pokemon-userlist--item img {
    width: 100px;
    height: 100px;
  }

  .pokemon-userlist--item_title {
    text-transform: capitalize;
    margin: 0px;
    padding: 0.1em;
  }
}